{
  "name": "gulp-app",
  "version": "0.0.2",
  "description": "gulp minimum app",
  "main": "./gulpfile.babel.js",
  "repository": {
    "type": "git",
    "url": "//github.com/kobabasu/micro-gulp.git"
  },
  "keywords": [
    "gulp",
    "gulp-shell"
  ],
  "os": [
    "darwin",
    "linux",
    "!win32"
  ],

  "dependencies": {},
  "devDependencies": {
    "babel-core": "*",
    "babel-preset-env": "*",
    "babel-plugin-istanbul": "*",

    "gulp": "gulpjs/gulp#4.0"
  },

  "scripts": {
    "global": "npm install -g gulp gulp-shell",
    "watch": "gulp watch",
    "build": "gulp build"
  },

  "preferGlobal": true,
  "author": "kobabasu",
  "license": "MIT"
}
